<template>
  <div class="col-md-12 no-padding">



    <div v-if='' class="col-md-12 no-padding">



    <div class="col-md-12 ">
      <div class="pane">
        <div class="pane-image image-blur col-md-12 col-sm-12 col-xs-12 radius" v-bind:style="if_avatar(user.main_info)">
          <br>
           <!--start block Avatar -->
          <div class="col-md-2 col-md-offset-5 col-sm-2  col-sm-offset-5 col-xs-4 col-xs-offset-4">
            <div class="pane circled">
              <div class="pane-content">
                <div class="avatar circled" v-bind:style="if_avatar(user.main_info)">
                </div>
              </div>
            </div>
          </div>
          <!--end block Avatar-->
          <br>
          <!--start block main_info-->
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="pane faded">
              <div class="pane-content ">
                <h3><b class="">@fredcolin079</b> | Alisher Toleberdyyev </h3>
              </div>
            </div>
          </div>
          <!--end block main_info-->
          <br>
      </div>
      </div>
    </div>
    </div>

    <!--start left side  -->
    <div class="col-md-3 col-sm-3 no-padding">

        <!--start block Teams-->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="pane">
            <div class="pane-content">
              <h4>Teams</h4>
            </div>
          </div>
        </div>
    </div>
    <!--end left side-->

    <!--start right side-->
    <div class="col-md-9 col-sm-9 no-padding">


      <!--start block Education -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pane">
          <div class="pane-content ">
            <h4>Education</h4>
          </div>
        </div>
      </div>
      <!--end block Education-->

      <!--start block Skills-->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pane">
         <div class="pane-content">
            <h4>Skills</h4>
         </div>
        </div>
      </div>
      <!--end block Skills-->

      <!--start block Work_exp-->
      <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="pane">
         <div class="pane-content">
           <h4>Schools</h4>
         </div>
       </div>
      </div>
      <!--end block Work_exp-->
    </div>
    <!--end rigth side-->
  </div>

</template>

<script>
  import avatar from '@/services/gravatar.js'
  import user from '@/services/users/'
  export default {
    data () {
      return {
        Object_exist: null,
        user: {
          main_info: {},
          teams: [],
          education: [
            {
              univer_id: 1,
              univer_name: 'Suleyman Demirel University',
              location: 'Kazkhstan, Almaty',
              major: 'Information System',
              degree: 'BA',
              period: {
                start: '2015',
                end: '2019'
              }
            },
            {
              univer_id: 2,
              univer_name: 'Suleyman Demirel University',
              location: 'Kazkhstan, Almaty',
              major: 'Computer Science',
              degree: 'MA',
              period: {
                start: '2020',
                end: '2022'
              }
            }
          ],
          skills: [
            {
              name: 'html',
              range: 1
            },
            {
              name: 'css',
              range: 0.5
            },
            {
              name: 'javascript',
              range: 0.3
            }
          ],
          skill_range (range) {
            return 'opacity :' + range
          },
          work_expr: [
            {
              location: 'USA,CA, San Francisco',
              company: 'Google',
              period: '2', // in years
              position: 'iOS Developer'
            },
            {
              location: 'USA,CA, San Francisco',
              company: 'Google',
              period: '4', // in years
              position: 'iOS Developer'
            }
          ]
        }
      }
    },
    methods: {
      if_avatar (object) {
        if (!object.avatar) {
          return 'background-image: url("' + avatar.get_gravatar(object.gravatar()) + '")'
        } else {
          return 'background-image: url("' + object.avatar + '")'
        }
      }
    },
//    created: function () {
//      console.log('Created')
//    },
    beforeMount () {
      this.user.main_info = user.getUserMainInfoByUserId(123)
      this.user.teams = user.getUserTeamsByUserId(123)
      document.title = this.user.main_info.username + ' | '
    }
  }
</script>

