<template>
  <div class="col-md-12">
    <div class="pane">
      <div class="pane-content">

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        ms: 'lol'
      }
    },
    beforeMount () {
      console.log(this.$router)
    }
  }
</script>

