<template>
  <div class="col-md-12">
    <div class="pane">
      <div class="pane-content ">
        <h1>{{ error_code }}</h1>
        {{ error_title }}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        error_title: 'Sorry , but page not found',
        error_code: '404'
      }
    }
  }
</script>

