<template>
  <div class="col-md-12">
    <div class="pane">
      <div class="pane-content">
        Jobs
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        ms: 'hi'
      }
    }
  }
</script>

