<template>
  <div class="col-md-2 сol-sm-2">
    <div class="pane">
      <div class="pane-content">
        <h4>Удачной работы вместе с <b class="brand-color">klever</b></h4>
        <form id="login_section" action="javascript:void(0);">
          <p>{{ errors }}</p>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" v-model="form.username">
          <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon3" v-model="form.password">
          <button class="btn btn-primary btn-block" v-on:click="login()" >Войти</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        form: {
          username: 'fredcolin079',
          password: '123123Aa'
        },
        errors: null
      }
    },
    methods: {
      login () {
        console.log(this.form)
        if (this.validation()) {
          this.$http.post('/login/', this.form).then(function (response) {
            if (response.data.success) {
              window.location.href = response.data.success_url
            } else {
              this.errors = response.data.errors
            }
          })
        }
      },
      validation () {
        return true
      }
    }

  }
</script>
