<template>
  <div class="col-md-9">
    <div class="pane">
      <div class="pane-content">
        <form id="register_section" >
          <h3><span class="label label-danger">{{ errors }}</span></h3>
          <input class="form-control" type="text" name="username" placeholder="username" v-model="form.username">
          <input class="form-control" type="text" name="first_name" placeholder="first name" v-model="form.first_name">
          <input class="form-control" type="text" name="last_name" placeholder="last name" v-model="form.last_name">
          <input class="form-control" type="email" name="email" placeholder="email" v-model="form.email">
          <input class="form-control" type="password" name="password_first" placeholder="password" v-model="form.password_first">
          <input class="form-control" type="password" name="password_second" placeholder="confirm password" v-model="form.password_second">
          <button class="btn btn-success" @click.prevent="register()" >Присоедениться</button>
          </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        form: {
          username: '',
          first_name: '',
          last_name: '',
          email: '',
          password_first: '',
          password_second: ''
        },
        errors: null
      }
    },
    methods: {
      register () {
        if (this.validation()) {

        }
      },
      validation () {
        return true
      }

    }
  }
</script>
