<template>
  <div class="container no-padding">
    <login></login>
    <register></register>
  </div>
</template>

<script>
  import login from './Auth_subcomp/login'
  import register from './Auth_subcomp/register'

  export default {
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    },
    components: {
      login: login,
      register: register
    },
    beforeMount () {
      document.title = 'Welcome to Klever'
    }
  }
</script>

