<template>
  <div class="container no-padding ">
  <div class="col-md-2  hidden-xs hidden-sm">
    <div class="pane-list" >
      <sidebar></sidebar>
    </div>
  </div>
  <div class="col-md-10 col-sm-12 no-padding">
    <router-view></router-view>
  </div>
  </div>
</template>

<script>
  import side from '@/components/Sidebar'

  export default {
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    },
    components: {
      sidebar: side
    },
    beforeMount () {
      console.log('I am ready Base ')
    }
  }
</script>

