<template>
  <div>
    <li>
      <router-link :to="{ name : 'Profile' , params : { username : 'toleberdyyev' }}">
      &nbsp
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      Profile
      </router-link>
    </li>
    <li v-for="item in sidebar_items">
      {{ item.params }}
      <router-link :to="{ name : item.title }">
      &nbsp
      <span v-bind:class="item.icon" aria-hidden="true"></span>
      {{ item.title }}
      <!--</a>-->
      </router-link>
    </li>
    <li >
      <router-link :to="{ name : 'index' }">
      &nbsp
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      Logout
      </router-link>
    </li>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        sidebar_items: [
          {
            title: 'Teams',
            icon: 'glyphicon glyphicon-tent'
          },
          {
            title: 'Tasks',
            icon: 'glyphicon glyphicon-tasks'
          },
          {
            title: 'Projects',
            icon: 'glyphicon glyphicon-apple'
          },
          {
            title: 'Jobs',
            icon: 'glyphicon glyphicon-briefcase'
          },
          {
            title: 'News',
            icon: 'glyphicon glyphicon-bullhorn'
          }
        ]
      }
    },
    beforeMount () {
      console.log('I am ready Sidebar ')
    }
  }
</script>
