@color-range:#111;

@green : #00b386; // default color of GREEN
@green-darker : @green - @color-range; // dark green
@green-lighter: @green + @color-range;


@blue: #337AB7;
@blue-lighter: @blue + @color-range;
@blue-darker: @blue - @color-range;

@red:#F44336;
@red-lighter : @red + @color-range;
@red-darker : @red - @color-range;

//@lightblue:

@grey : #eaeaea; // default color of Grey
@grey-lighter: @grey + #111; // light grey
@grey-darker: @grey - #111; // light grey
