@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
*[class$="success"] {
  background-color: #00b386 !important;
}
*[class$="primary"] {
  background-color: #085078 !important;
}
*[class$="danger"] {
  background-color: #F44336 !important;
}
div[class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  overflow-x: hidden;
  font-family: Arial;
  background-color: whitesmoke !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input,
button,
a {
  outline: none !important;
}
.form-control,
.btn {
  outline: none !important;
  border-radius: 2px !important;
  border: none !important;
  margin-bottom: 8px;
}
.form-control {
  padding-left: 6px !important;
  padding-right: 6px !important;
  border: 1px solid #eaeaea !important;
}
.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
nav {
  margin-bottom: 0px !important;
  height: 15px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: #00b386 !important;
  border-bottom: 4px solid #00a275 !important;
}
nav .navbar-header a {
  color: whitesmoke !important;
  font-style: normal !important;
  font-size: 30px;
}
.brand {
  font-family: 'Pacifico', cursive;
}
.brand-white {
  color: whitesmoke !important;
}
.brand-color {
  color: #00b386;
}
.brand-default {
  color: #eaeaea;
}
.pane {
  border-radius: 2px !important;
  background-color: white;
  margin-bottom: 10px;
  border-bottom: 3px solid #eaeaea;
}
.pane .pane-image {
  background-color: #00b386;
  padding: 20px;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pane .pane-content {
  padding: 8px;
}
.pane-list {
  list-style: none;
  padding: 0px;
}
.pane-list li {
  margin-bottom: 6px;
  vertical-align: middle;
}
.pane-list a {
  padding: 5px 7px 5px 7px !important;
  display: block;
  width: 100% !important;
  border-radius: 2px 2px 0px 0px;
  color: grey;
  vertical-align: text-bottom;
  background-color: #eaeaea;
}
.pane-list a:hover {
  text-decoration: none;
  color: #11c497;
  background-color: #ffffff;
}
