@import "colors";
@import "sizes";
@import "simple-sidebar";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*[class$="success"]{  background-color: @green !important;  }
*[class$="info"]{  background-color: @blue-lighter !important;  }
*[class$="primary"]{  background-color: @blue !important;  }
*[class$="danger"]{  background-color: @red !important;  }

div[class*="col-"]{
  padding-left:5px;
  padding-right:5px;
  margin-bottom: 4px;
}

body{
  a:hover,a:focus{
    text-decoration: none !important;
  }
  word-wrap: break-word !important;
  color: #757575 !important;
  font-family:Arial;
  font-weight: 500;
  overflow-x: hidden;
  background-color: #FAFAFA  !important;
  //background: url(https://68.media.tumblr.com/tumblr_m9d  z1aEkZf1re7fvvo1_500.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


input,button,a {
  outline: none !important;
}
.btn{
  font-weight: 700;
  outline: none !important;
  border-radius: @radius-default !important;
  border: none !important;
  margin-bottom: 8px;
}
.form-control,form-control:focus{
  margin-bottom: 8px;
  font-weight: 700;
  box-shadow: none !important;
  background-color: @grey;
  border: none !important;
  padding-left:6px !important;
  padding-right:6px !important;
  //border:  1px solid @grey !important;
}

.no-padding{
  padding-left:0px !important;
  padding-right:0px !important;
  padding-top:0px !important;
  padding-bottom: 0px !important;
}

.no-margin{
  margin-left:0px !important;
  margin-right:0px !important;
  margin-top:0px !important;
  margin-bottom:0px !important;
}

nav{
  margin-bottom: 0px !important;
  height: 15px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: @green !important;
  border-bottom: @border-bottom solid @green-darker !important;
  .navbar-header {
    a {
      color: whitesmoke !important;
      font-style: normal !important;
      font-size: 30px;
    }
  }
}


.brand{
  font-family: 'Pacifico' ,cursive;
}
.brand-white {
  color: white !important;
}
.brand-color {
  color: @green;
}
.brand-default {
  color: @grey;
}

hr{
  margin: 12px 0px 12px 0px !important;
}





.pane{
    border-radius: @radius-default !important;
    background-color: white;
    margin-bottom:10px;
    line-height: 120% !important;
    .pane-image{
      display: inline-block;
      .showing-title{
        display: inline-block;
        border-radius: 5px;
        float: left;
        text-align: center;
        margin: 5px;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        color: white;
        padding: 10px;
        opacity: 0.0;
      }
      transition: .2s;
      background-color: #eaeaea;
      padding:10px;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .image-blur:before{
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
      z-index: -1;
    }
    image-blur{
      left: 0;
      right: 0;
      z-index: 0;
    }
    .pane-image:hover{
      .showing-title{
        opacity: 1;
        transition: all 0.2s;
      }
    }
    .pane-content {
      line-height: 20px;
      word-wrap: break-word !important;
      padding : 13px;
      .avatar {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center center;
        .avatar-upload{
          z-index: 1;
          left: 0px;
          top: 0px;
          width: 100%;
          padding-bottom: 100%;
        }
      }

    }
}
.faded{
  line-height: 150%;
  background: rgba(0,0,0,0.3)!important;
  color: white !important;
  a{
    color: @blue-lighter !important;
  }
}
.radius{
  border-radius: @radius-default;
}
.radius-top{
  border-radius: @radius-default @radius-default 0px 0px !important; ;
}
.bordered{
  border-bottom: 3px solid @grey-darker;
}
.shodowed{
  box-shadow: 0px 0px 10px ;
}
.circled{
  border-radius: 50% !important;
}
.border{
  border-bottom: 3px solid grey;
}

//this is part PANE - LIST only for sidebar for PC
.pane-list{

  list-style: none;
  padding:0px;
  li{
    //padding-left: 20px !important;/
    margin-bottom: 6px;
    vertical-align: middle;
  }
  a.router-link-active{
    background-color: rgba(51,51,51,0.1);
  }
  a{
    padding:5px 7px 5px 7px !important;
    display: block;
    width: 100% !important;
    border-radius: @radius-default @radius-default 0px 0px;
    color: grey;
    vertical-align: text-bottom;
    background-color: rgba(51,51,51,0.03);
    //border-bottom: 1px  solid @grey-darker !important;    //background-color: @grey-lighter;
  }
  a:hover{
    text-decoration: none;
    color: @green-lighter;
    background-color: whitesmoke + #111;
    //border-bottom: 1px  solid @green-lighter !important;    //background-color: @grey-lighter;
  }
  a:focus{
    text-decoration: none;
  }
}





