
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


@import "colors";
@side_width : 250px;
@time_transition  :350ms;
/* Toggle Styles */


#wrapper {
    padding-left: 0;
    -webkit-transition: all @time_transition ease;
    -moz-transition: all @time_transition ease;
    -o-transition: all @time_transition ease;
    transition: all @time_transition ease;
}

#wrapper.toggled {
    padding-left: @side_width;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: @side_width;
    width: 0;
    height: 100%;
    margin-left: -@side_width;
    overflow-y: auto;
    background: black;
    //box-shadow: 10px 0 100px rgba(51,51,51,0.8);
    -webkit-transition: all @time_transition ease;
    -moz-transition: all @time_transition ease;
    -o-transition: all @time_transition ease;
    transition: all @time_transition ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: @side_width;
}

#page-content-wrapper {
    margin-top: 5px !important;
    width: 100%;
    height:100%;
    position: absolute;
    //padding:15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -@side_width;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: @side_width;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: @green !important;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

//@media(min-width:995px) {
//    #wrapper {
//        padding-left: 0px;
//    }
//    #wrapper.toggled {
//        padding-left: 0px;
//    }
//    #sidebar-wrapper {
//        width: 0px;
//    }
//    #wrapper.toggled #sidebar-wrapper {
//        width: 0;
//    }
//    #page-content-wrapper {
//        position: relative;
//    }
//
//    #wrapper.toggled #page-content-wrapper {
//        position: relative;
//        margin-right: 0;
//    }
//}

