<template>
  <div id="wrapper" v-bind:class="{ toggled : sidebar_show }">
    <div id="sidebar-wrapper"  class="visible-xs visible-sm">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
        </li>
        <sidebar></sidebar>
      </ul>
    </div>
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header pull-left">
          <a class="navbar-brand visible-xs visible-sm" id="menu-toggle" style="font-style: normal !important;" @click="showSidebar"><span style="font-size: 20px;" class="glyphicon glyphicon-menu-hamburger"></span></a>
          <router-link :to="{ name : 'index' }" class="navbar-brand brand brand-white" >klever</router-link>
        </div>
      </div>
    </nav>
    <div id="page-content-wrapper">
        <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import side from '@/components/Sidebar'

  export default {
    data () {
      return {
        msg: 'Hello from vue-loader!',
        sidebar_show: false
      }
    },
    components: {
      sidebar: side
    },
    methods: {
      sayHello (args) {
        console.log(args)
      },
      showSidebar () {
        this.sidebar_show = !this.sidebar_show
      }
    },
    beforeMount () {
      console.log('I am ready App')
    }
  }
</script>

<style></style>
